@font-face {
   font-family: 'Agenda-Light';
   font-display: swap;
   src: url('file:///Users/ge/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2026-03-07_111009/fonts/Agenda-Light/font.ttf');
}
